* {
  margin:0;
  padding:0;
}

#wrapper{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2em;

}

 header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topnav{
  display: flex;
  flex-direction: row;
}

.topnav ul{
  display:flex;
  flex-direction: row;
}

.topnav ul {
  display: flex;
  list-style-type: none;
}

.topnav li{
margin-right: 2em;
}

.toggle-menu {
  display: none;
}

.program-nav li ul{
  display: none;
}

@media (max-width: 570px){
  .toggle-menu{
    display: block;
  }

header {
  display:block;
  text-align: center;
}

.topnav{
  display: block;
  margin-top: 2em;
}


.topnav ul{
  /* display: none; */
  display: block;

}

.topnav li, .topnav form {
  margin: 0;
  padding: 1em;
  border: solid 1px #ccc;
}

.topnav input {
  height: 2em;
}

.search {
  display: none;
    }
}
